

  .containe12 {
    display: grid;
    grid-template-columns: 90px auto; /* Ancho del sidebar */
    /* background: #ffff; */
    transition: all 0.3s;
}

.containe12.active12 {
    grid-template-columns: 300px auto; /* Ancho del sidebar cuando está abierto */
}

body {
    color: black;
}
