
.contenedorClient{
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.formRegister {
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
    justify-content: center;

}