/* RegisterClientPage.css */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el ancho total */
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
}

.contenedorClient {
    display: flex;
    width: 100%; /* Cambia a 100% para asegurar que ocupa el ancho completo */
    min-height: 80vh;
    padding: 20px;
    justify-content: center; /* Centra el contenedor */
    align-items: center; /* Centra el contenedor verticalmente */
}

.formRegisterClient {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 1100px; /* Limita el ancho máximo */
    height: auto; /* Ajusta la altura según el contenido */
    background: rgba(12, 11, 10, 0.5); /* Color de fondo más sólido */
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3); /* Color de borde más visible */
    border-radius: 20px;
    text-align: center;
    padding: 30px 40px;
    align-items: center;
}

.inputClient {
    width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    max-width: 400px; /* Limita el ancho máximo */
    padding: 10px; /* Añade padding para dar espacio interno */
    margin: 15px; /* Espacio entre los inputs */
    font-size: 16px; /* Tamaño de fuente para que sea consistente */
    background-color: #e6e6fa; /* Color de fondo más suave */
    border-radius: 10px;
    border: 1px solid #ccc; /* Borde más definido */
}

#titleRegisterClient {
    height: 20vh;
    font-size: 2em; /* Aumenta el tamaño del título */
    color: #ffffff; /* Color del título */
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.client {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 20px; /* Añade espacio entre los elementos */
    flex-wrap: wrap; /* Permite que los elementos bajen a una nueva línea si no hay espacio */
    margin: 10px;
}

@media (max-width: 980px) {
    .formRegisterClient {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        width: 90%; /* Ajusta el ancho para pantallas más pequeñas */
        height: auto; /* Ajusta la altura según el contenido */
        background: rgba(0, 0, 0, 0.5); /* Color de fondo más oscuro */
        padding: 20px; /* Reduce el padding */
    }

    .client {
        gap: 10px; /* Aumenta el espacio entre los elementos en pantallas pequeñas */
    }

    .inputClient {
        max-width: 100%; /* Permite que los inputs ocupen el ancho completo en pantallas pequeñas */
        margin: 10px 0; /* Espacio entre inputs en vertical */
    }
}

.successMessage {
    color: green;
    font-size: 1.2em;
    margin-top: 10px;
}
