.containerUsuario {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo más claro */
    padding: 30px;
}

.ventanaUser {
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

#title {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

.inputUser-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}


/* Para pantallas menores o iguales a 768px (<= 768px) */
@media (max-width: 768px) {
    .inputUser-box {
        width: 75%;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
    .inputUser-group {
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* Para pantallas mayores o iguales a 768px (>= 768px) */
@media (min-width: 768px) {
    .inputUser-box {
        width: 25%;
        padding: 10px;
        margin: 0 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }
}

.listaUsuarios{
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    overflow-y: auto;
}

.table {
    width: 100%; 
    text-align: center; 
}

.table-item {
    display: inline-block; 
    width: 13%; 
    margin: 2px; 
    box-sizing: border-box; 
    background-color: rgb(56, 66, 207); 
    text-align: center; 
}

.table-item2 {
    display: inline-block; 
    width: 13%; 
    margin: 2px; 
    box-sizing: border-box; 
    background-color: rgb(225, 221, 221);
    text-align: center; 
    overflow: hidden; /* Oculta el contenido que se desborda */
    text-overflow: ellipsis; /* Añade "..." al final si hay desbordamiento */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.buttonOpcion {
    padding: 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    transition: transform 0.3s ease; /* Animación suave al escalar */
}

.buttonOpcion:hover {
    transform: scale(0.85); /* Escala el botón a un 95% de su tamaño */
}

.buttonOpcion:active {
    transform: scale(0.8); /* Escala el botón a un 90% de su tamaño cuando se hace click */
}


select.inputUser-box {
    display: flex;
    background-color: #fff;
    cursor: pointer;
}

.btn {
    max-width: 150px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #45a049;
}

.btnEliminar:hover{
    cursor: pointer;
    background-color: #a2c5a4;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
  }
  
  .modal-content input, .modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }