.image-container {
    position: relative;
    width: 100%;
    height: 400px; /* Ajusta la altura según sea necesario */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .col {
    flex: 1;
    text-align: center;
  }
  
  .overlay h2 {
    color: white;
    font-size: 30px;
    text-align: center;
  }