*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
footer{
    background: rgb(61, 57, 63);
    padding: 50px 0px;
    color: #fff;
    width: 100%; /* Asegura que el footer cubra todo el ancho */

}
footer h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
footer p{
    font-size: 16px;
    margin-bottom: 20px;
}
footer ul  {
    padding: 0;
}
footer li {
    margin-bottom: 10px;
    opacity: 0.5;
}
.footerr-col1 {
    flex: 1;
    padding: 0 10px;
    min-width: 200px;


}
.footerr-col2{
    flex: 1;
    padding: 20px  10px;
    min-width: 200px;

}
.footerr-col3{
    flex: 1;
    padding: 20px 10px;
    min-width: 200px;

 
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo h1 {
    font-size: 25px;
    font-weight: bold;
    width: max-content;
    margin: 10px;

}
.footerr-fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

}


@media (max-width:768px){
    .footerr-fila{
        flex-direction: column;
/*  */
        width: 100%;
    }
}
