.bitacora-container {
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  background-color: #f4f4f9; /* Fondo suave */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 1200px; /* Limitar el ancho máximo */
  margin: auto; /* Centrar el contenedor */
}

.bitacora-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px;
  overflow: hidden; /* Esconder bordes cuando se hace scroll */
}

.bitacora-table th,
.bitacora-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.bitacora-table th {
  background-color: #4a4a72; /* Color de fondo más elegante */
  color: #fff; /* Texto blanco */
  font-weight: bold;
  text-transform: uppercase; /* Texto en mayúsculas */
}

.bitacora-table tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternar colores de las filas */
}

.bitacora-table tr:hover {
  background-color: #e0f7fa; /* Fondo al pasar el ratón */
}

.bitacora-table td {
  white-space: nowrap;
}

h1 {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

/* Estilos Responsive */
@media (max-width: 768px) {
  .bitacora-table th,
  .bitacora-table td {
    font-size: 14px; /* Reducir el tamaño de fuente en móviles */
    padding: 10px;
  }
/* jfsdblkfbaskdfbskdfbklasudfi */
  h1 {
    font-size: 20px; /* Reducir el tamaño del título en móviles */
  }
}

@media (max-width: 480px) {
  .bitacora-table th,
  .bitacora-table td {
    font-size: 12px; /* Aún más pequeño en pantallas muy pequeñas */
    padding: 8px;
  }
  
  .bitacora-container {
    padding: 10px;
  }
}
