.container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.gestion-lote,
.consultar-lotes {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.gestion-lote {
  margin-top: 0;
}

.gestion-lote h2,
.consultar-lotes h2 {
  margin-bottom: 15px;
  color: #333;
  font-size: 24px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}

th {
  background-color: #e9ecef;
  color: #333;
}

tr:hover td {
  background-color: #d4edda;
}

.buscar-producto {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.buscar-producto input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: border-color 0.3s;
}

.buscar-producto input:focus {
  border-color: #4CAF50;
  outline: none;
}

.guardar-btn,
.ordenar-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.guardar-btn {
  background-color: #4CAF50;
  color: white;
}

.guardar-btn:hover {
  background-color: #45a049;
}

.ordenar-btn {
  background-color: #1E90FF;
  color: white;
  margin-bottom: 10px;
}

.ordenar-btn:hover {
  background-color: #1c7ed6;
}

.highlighted {
  color: #e74c3c;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .gestion-lote h2,
  .consultar-lotes h2 {
    font-size: 20px;
  }

  th,
  td {
    padding: 10px; 
    font-size: 14px; 
  }

  .buscar-producto {
    flex-direction: column; 
    gap: 5px; 
  }

  .buscar-producto input {
    width: 100%; 
  }

  .guardar-btn,
  .ordenar-btn {
    width: 100%; 
    padding: 12px; 
    font-size: 18px; 
  }
}

@media (max-width: 480px) {
  th,
  td {
    font-size: 12px; 
  }

  .gestion-lote h2,
  .consultar-lotes h2 {
    font-size: 18px;
  }
/* dsfgdsfs */
  .guardar-btn, 
  .ordenar-btn {
    padding: 10px; 
  }
}
/* sdfsdfsd */